asgiref==3.4.1
awesome-slugify==1.6.5
certifi==2021.10.8
dataclasses-jsonschema==2.15.0
Django==4.0
django-extensions==3.1.5
dynaconf==3.1.7
entrypoints==0.3
pendulum==2.1.2
pickleDB==0.9.2
powershell-kernel==0.1.4
pytzdata==2020.1
pywin32==302
regex==2021.11.10
sip==4.19.13
sqlparse==0.4.2
terminado==0.9.4
tinydb==4.5.2
tzdata==2021.5
Unidecode==0.4.21
uuid==1.30
webencodings==0.5.1
wincertstore==0.2
xmltodict==0.12.0
