  <div class="io-alerts">

    <div class="io-control alert" jswidget="import-warnings-alert">
      <div class="alert-message">
        Diagram may not render correctly due to import warnings.

        <a href jsaction="click:bio.showImportDetails">Show details</a>.
      </div>

      <a href class="close" aria-hidden="true" jsaction="click:bio.clearImportDetails">&times;</a>
    </div>

    <div class="io-control alert" jswidget="undo-redo-alert">
      <div class="alert-message">
        You edited the diagram.

        <a href jsaction="click:bio.undo">Undo last change</a>.
      </div>

      <a href class="close" aria-hidden="true" jsaction="click:bio.hideUndoAlert">&times;</a>
    </div>

  </div>

