  <div class="io-dialog import-warnings" jswidget="import-warnings-dialog">

    <div class="content">
      <h1>Import Warnings</h1>

      <p>
        One or more problems have been identified when trying to import the BPMN 2.0 diagram:
      </p>

      <p>
        <textarea class="error-log"></textarea>
      <p>

      <p>
        This may have been caused by malformed input data.
        As a result the diagram may not render correctly.
      </p>

      <h2>Need help on this?</h2>

      <p>
        File a report in <a href="https://forum.bpmn.io" target="_blank">our forum</a>.
        Attach your diagram and the above error log.
      </p>

      <a class="project-logo" href="http://bpmn.io">
        <span class="icon-bpmn-io"></span>
      </a>
    </div>
  </div>
